<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogolne dane</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dane.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arsenal&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
          <ul class="main-header__item_list">
            <li class="main-header__item">
              <a href="/">Strona Glowna</a>
            </li>
            <li class="main-header__item"><a href="/dane" class="active">Ogólne dane</a></li>
            <li class="main-header__item"><a href="/wykresy">Dane z wykresami</a></li>
            <li class="main-header__item"><a href="/stream">Stream</a></li>
            <li class="main-header__item"><a href="/swiatlo">Sterowanie światłem</a></li>
          </ul>
        </nav>
      </header>
      <main>
          <div class="info">
            <div class="dane">
                <div class="dane_nazwa">Temperatura w szklarni</div>
                <div class="dane_wartosc">20°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Wilgotność powietrza w szklarni</div>
                <div class="dane_wartosc">37%°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Temperatura gleby</div>
                <div class="dane_wartosc">20°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Nawodnienie gleby</div>
                <div class="wartosc">👌</div>
            </div>
        </div>
        </div>
      </main>
</body>
</html>