<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/dane.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arsenal&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('includes/navigation.ejs') %>
      <main>
          <div class="info">
            <div class="dane">
                <div class="dane_nazwa">Temperatura w szklarni</div>
                <div class="dane_wartosc">20°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Wilgotność powietrza w szklarni</div>
                <div class="dane_wartosc">37%°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Temperatura gleby</div>
                <div class="dane_wartosc">20°C</div>
                <div class="dane_czas">Godzina pomiaru 21.37</div>
            </div>
            <div class="dane">
                <div class="dane_nazwa">Nawodnienie gleby</div>
                <div class="wartosc">👌</div>
            </div>
        </div>
        </div>
      </main>
      <%- include('includes/end.ejs') %>