<%- include('includes/head.ejs') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arsenal&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
<%- include('includes/navigation.ejs') %>
<main>
    <h1>Logowanie</h1>
    <div>
        <form action="/login" method="POST">
            <div class="inputField">
                <label for="name">Nazwa</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="inputField">
                <label for="password">Haslo</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <button type="submit" class="bn30">Zaloguj</button>
            </div>
        </form>
    </div>
    <% if(errorMessage){ %> 
    <div class="error"><%= errorMessage %> </div>
    <% } %> 
</main>
<%- include('includes/end.ejs') %>