.info {
    display: flex;
}

.dane {
    border: 2px white solid;
    color: white;
    height: 15vh;
    width: 20%;
    flex: auto;
    margin: 10px;
    margin-top: 100px;
}
.zdjecie {
    align-items: center;
}
.zdjecie img{
    height: 200px;
    width: 200px;
}

.dane_nazwa {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.dane_wartosc {
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

.dane_czas {
    text-align: center;
    padding: 2px;
    color: rgba(255, 255, 255, 0.6);
}

.wartosc {
    text-align: center;
    font-size: 2em;
    padding: 7px;;
}